<div class="row mb-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {% if errors["label"] %}
                                <label for="answerLabel{{ number }}">Label</label>
                                <input class="form-control is-invalid" type="text" name="answerLabel{{ number }}" id="answerLabel{{ number }}" value="{{ possibleAnswer.label }}" />
                                <small class="text-danger">
                                    {{ errors["label"][0] }}
                                </small>      
                            {% else %}
                                <label for="answerLabel{{ number }}">Label</label>
                                <input class="form-control" type="text" name="answerLabel{{ number }}" id="answerLabel{{ number }}" value="{{ possibleAnswer.label }}" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                    <label for="answerIsRight{{ number }}">Réponse</label>
                        <div class="form-group">
                            <select class="form-control" name="answerIsRight{{ number }}" id="answerIsRight{{ number }}">
                                {% if possibleAnswer.isRight == 1 %}
                                    <option value="right" selected="selected">Vraie</option>
                                    <option value="wrong">Fausse</option>
                                {% else %}
                                    <option value="right">Vraie</option>
                                    <option value="wrong" selected="selected">Fausse</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>