{% extends "layout.html.twig" %}

{% block title %} Questions {% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-column align-items-start">
    
    <div class="d-flex align-items-center justify-content-between w-100">
        <h1 class="mt-4 mb-4">Questions</h1>
        {% include 'pagination.html.twig' with {'tableName': 'questions'} %}
    </div>

    <div class="card mb-4 w-100">
        <div class="card-header d-flex align-items-center">
            <i class="fas fa-table mr-2"></i>
            Liste de questions
            <label class="ml-auto my-0 mr-2" for="js-data-fetch-theme">Filtrer par thème: </label>
            <select class="form-control" id="js-data-fetch-theme" name="theme" style="width: 20%;">
                {% if filteredByTheme == 'true' %}
                    <option value="{{ filteredByThemeId }}" selected="selected">{{ filteredByThemeName }}</option>
                {% endif %}
            </select>
            <a type="button" class="btn btn-danger ml-3" href="/questions"><i class="fas fa-times" aria-hidden="true"></i></a>
            <a type="button" class="btn btn-success ml-3" href="/question/new">Créer</a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table m-0" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Label</th>
                            <th scope="col">Thème</th>
                            <th scope="col" style="min-width: 250px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in questions %}
                        <tr id="tr{{ question.id }}">
                            <th scope="row"><a href="{{ '/question/' ~ question.id }}">{{ question.id }}</a></th>
                            <td>{{ question.label }}</td>
                            <td><a href="{{ '/theme/' ~ question.theme.id }}">{{ question.theme.name }}</a></td>
                            <td class="text-center">
                                <a href="{{ '/question/' ~ question.id }}" type="button" class="btn btn-primary mx-1">Modifier</a><!--
                                --><button class="btn btn-danger mx-1" data-toggle="modal" data-target="#deleteModalCenter{{ question.id }}">Supprimer</button>
                            </td>
                        </tr>
                            {% include 'modals/delete.html.twig' with { 'objectId' : question.id, 'objectName' : question.label, 'title' : 'Suppression d\'une question'} %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="mb-4 ml-auto">
        {% include 'pagination.html.twig' with {'tableName': 'questions'} %}
    </div>
</div>
{% include 'toasts/success.html.twig' %}
{% include 'toasts/error.html.twig' %}  
{% endblock %}

{% block js %}
    <script src="/assets/js/filterQuestionsByTheme.js"></script>
    <script src="/assets/js/paginateThemes.js"></script>
    <script id="searcher" src="/assets/js/delete.js" data-className="question"></script>
{% endblock %}
