{% extends "layout.html.twig" %}

{% block title %} Administrateur {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container my-4">
        <div class="row flex-lg-nowrap">
            <div class="col px-0">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="e-profile">
                            <div class="row">
                                <div class="col-12 col-sm-auto mb-3">
                                    <div class="mx-auto" style="width: 140px">
                                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgba(255, 255, 255, 0)">
                                            <img loading="lazy" src="/assets/img/admin.svg" alt="admin" width="140px" height="140px"  />
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                    <div class="text-center text-sm-left mb-2 mb-sm-0 px-0 col">
                                    {% if admin.id matches '/^\\d+$/' %}
                                        <h4 class="pb-1 mb-0">
                                            Administrateur <span class="text-primary ">{{ admin.firstName }}</span>
                                        </h4>
                                        <p class="pb-1 mb-0">{{ admin.email }}</p>
                                        <small>Admin n°{{ admin.id }}</small>
                                    {% else %}
                                        <h4 class="pb-1 mb-0">
                                            Nouvel administrateur <span class="text-primary ">{{ admin.firstName }}</span>
                                        </h4>
                                    {% endif %}
                                    </div>
                                    <div class="text-center text-sm-right">
                                        <span class="badge badge-warning">Administrateur</span>
                                        <div class="text-muted">
                                        {% if admin.id matches '/^\\d+$/' %}
                                            <small>Inscrit le {{ admin.registerAt|date("d/m/Y") }}</small>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><div class="active nav-link">Informations</div></li>
                            </ul>
                            <div class="tab-content pt-3">
                                <div class="tab-pane active">
                                    <form class="form" novalidate="" action="{{ '/admin/save/' ~ admin.id }}" method="post">
                                        <div class="row mb-1">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            {% if errors["firstName"] %}
                                                                <label for="firstName">First Name</label>
                                                                <input class="form-control is-invalid" type="text" name="firstName" id="firstName" value="{{ admin.firstName }}" />
                                                                <small class="text-danger">
                                                                    {{ errors["firstName"][0] }}
                                                                </small>      
                                                            {% else %}
                                                                <label for="firstName">First Name</label>
                                                                <input class="form-control" type="text" name="firstName" id="firstName" value="{{ admin.firstName }}" />
                                                            {% endif %}
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                         {% if errors["lastName"] %}
                                                            <label for="lastName">Last Name</label>
                                                            <input class="form-control is-invalid" type="text" name="lastName" id="lastName" value="{{ admin.lastName }}" />
                                                            <small class="text-danger">
                                                                    {{ errors["lastName"][0] }}
                                                            </small>
                                                         {% else %}
                                                            <label for="lastName">Last Name</label>
                                                            <input class="form-control" type="text" name="lastName" id="lastName" value="{{ admin.lastName }}" />
                                                         {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                        {% if errors["email"] %}
                                                            <label for="email">Email</label>
                                                            <input class="form-control is-invalid" name="email" id="email" type="email" placeholder="example@gmail.com" value="{{ admin.email }}" />
                                                            <small class="text-danger">
                                                                    {{ errors["email"][0] }}
                                                            </small>
                                                        {% else %}
                                                            <label for="email">Email</label>
                                                            <input class="form-control" name="email" id="email" type="email" placeholder="example@gmail.com" value="{{ admin.email }}" />
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% block passwordInputs %}
                                            {% if admin.id matches '/^\\d+$/' and admin.id != 0 %}
                                                {% include 'admin/update_admin_password.html.twig' %}
                                            {% else %}
                                                {% include 'admin/new_admin_password.html.twig' %}
                                            {% endif %}
                                        {% endblock %}
                                        <div class="row">
                                            <div class="col d-flex justify-content-end">
                                                <a class="btn btn-danger" type="submit" href="/admins">Annuler</a>
                                                {% if admin.id matches '/^\\d+$/' %}
                                                    <button class="btn btn-primary ml-2" type="submit">Sauvegarder</button>
                                                {% else %}
                                                    <button class="btn btn-success ml-2" type="submit">Créer</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
