<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="/../quizzs" method="get">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Filtrer les quizzs</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="filter">Saisir un nom/prénom/email</label>
                    <input class="form-control" type="text" id="filter"  name="filter" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-info filter-quizz">Filtrer</button>
                </div>
            </form>
        </div>
    </div>
</div>