{% extends "main.html.twig" %}

{% block title %} Redirection {% endblock %}

{% block main_content %}
    <main class="bg-dark">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <div class="container d-flex justify-content-center align-items-center flex-grow-1">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-3">Redirection</h3>
                        </div>
                        <div class="card-body pt-4 pb-4 text-center">
                            {% for item in messages %}
                            <div>
                                {{ item }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-3 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Projet PHP 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </main>
{% endblock %}
