{% extends "layout.html.twig" %} 

{% block title %} Accueil {% endblock %} 

{% block content %}
<div class="container-fluid d-flex flex-column flex-grow-1 overflow-hidden">
    <h1 class="mt-4 mb-4">
        <div>
            Accueil de
            <span class="text-primary">
                {{ cookie.admin_firstName is defined ? cookie.admin_firstName : session.firstName }}
            </span>
        </div> 
    </h1>
    <div id="home-img" class="flex-grow-1">
        <span id="home-img-floor"></span>
    </div>
</div>
{% endblock %}
