{% set prev_page = curr_page - 1 %}
{% set next_page = curr_page + 1 %}

<nav aria-label="pagination">
	<ul class="pagination my-0">

		<li class="page-item {{ curr_page is same as(1) ? 'disabled' : '' }}">
			{% if curr_page is same as(1) %}
				<button class="page-link">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Précédent</span>
				</button>
			{% else %}
				<a class="page-link clickable-redirection" data-page="{{ prev_page }}" href="{{ "/" ~ tableName ~ "/" ~ prev_page }}" aria-label="Précédent">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Précédent</span>
				</a>
			{% endif %}
		</li>
		
		{% if curr_page is same as(1) %}
		
			{% if total_pages > 1 %}
				<li class="page-item active"><button class="page-link">{{ curr_page }}</button></li>
				<li class="page-item"><a class="page-link clickable-redirection" data-page="{{ next_page }}" href="{{ "/" ~ tableName ~ "/" ~ next_page }}">{{ next_page }}</a></li>
				{% if total_pages > 2 %}
					<li class="page-item"><a class="page-link clickable-redirection" data-page="{{ next_page + 1 }}" href="{{ "/" ~ tableName ~ "/" ~ (next_page + 1) }}">{{ next_page + 1 }}</a></li>
				{% endif %}
			{% else %}
				<li class="page-item active"><button class="page-link">{{ curr_page }}</button></li>
			{% endif %}

		{% elseif curr_page is same as(total_pages) %}

			{% if total_pages > 2 %}
				<li class="page-item"><a class="page-link clickable-redirection" data-page="{{ prev_page - 1 }}" href="{{ "/" ~ tableName ~ "/" ~ (prev_page - 1) }}">{{ prev_page - 1 }}</a></li>
			{% endif %}
				<li class="page-item"><a class="page-link clickable-redirection" data-page="{{ prev_page }}" href="{{ "/" ~ tableName ~ "/" ~ prev_page }}">{{ prev_page }}</a></li>
				<li class="page-item active"><button class="page-link">{{ curr_page }}</button></li>

		{% else %}

				<li class="page-item"><a class="page-link clickable-redirection" data-page="{{ prev_page }}" href="{{ "/" ~ tableName ~ "/" ~ prev_page }}">{{ prev_page }}</a></li>
				<li class="page-item active"><button class="page-link">{{ curr_page }}</button></li>
				<li class="page-item"><a class="page-link clickable-redirection" data-page="{{ next_page }}" href="{{ "/" ~ tableName ~ "/" ~ next_page }}">{{ next_page }}</a></li>

		{% endif %}

		<li class="page-item {{ curr_page is same as(total_pages) ? 'disabled' : '' }}">
			{% if curr_page is same as (total_pages) %}
				<button class="page-link" aria-label="Suivant">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Suivant</span>
				</button>
			{% else %}
				<a class="page-link clickable-redirection" data-page="{{ next_page }}" href="{{ "/" ~ tableName ~ "/" ~ next_page }}" aria-label="Suivant">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Suivant</span>
				</a>
			{% endif %}
		</li>
	</ul>
</nav>