{% extends "layout.html.twig" %} 

{% block title %} Theme {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container my-4">
        <div class="row flex-lg-nowrap">
            <div class="col px-0">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="e-profile">
                            <div class="row">
                                <div class="col-12 col-sm-auto mb-3">
                                    <div class="mx-auto" style="width: 140px">
                                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgba(255, 255, 255, 0)">
                                            <img loading="lazy" src="/assets/img/admin.svg" alt="admin" width="140px" height="140px"  />
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                    <div class="text-center text-sm-left mb-2 mb-sm-0 px-0 col">
                                    {% if theme.id matches '/^\\d+$/' %}
                                        <h4 class="pb-1 mb-0">
                                            Thème <span class="text-primary ">{{ theme.name }}</span>
                                        </h4>
                                        <small>Thème n°{{ theme.id }}</small>
                                    {% else %}
                                        <h4 class="pb-1 mb-0">
                                            Nouveau Thème <span class="text-primary ">{{ theme.name }}</span>
                                        </h4>
                                    {% endif %}
                                    </div>
                                    <div class="text-center text-sm-right">
                                        <span class="badge badge-warning">Thème</span>
                                    </div>
                                </div>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><div class="active nav-link">Informations</div></li>
                            </ul>
                            <div class="tab-content pt-3">
                                <div class="tab-pane active">
                                    <form class="form" novalidate="" action="{{ '/theme/save/' ~ theme.id }}" method="post">
                                        <div class="row mb-1">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            {% if errors["name"] %}
                                                                <label for="name">Nom</label>
                                                                <input class="form-control is-invalid" type="text" name="name" id="name" value="{{ theme.name }}" />
                                                                <small class="text-danger">
                                                                    {{ errors["name"][0] }}
                                                                </small>      
                                                            {% else %}
                                                                <label for="name">Nom</label>
                                                                <input class="form-control" type="text" name="name" id="name" value="{{ theme.name }}" />
                                                            {% endif %}
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col d-flex justify-content-end">
                                                <a class="btn btn-danger" type="submit" href="/themes">Annuler</a>
                                                {% if theme.id matches '/^\\d+$/' %}
                                                    <button class="btn btn-primary ml-2" type="submit">Sauvegarder</button>
                                                {% else %}
                                                    <button class="btn btn-success ml-2" type="submit">Créer</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
