{% extends "layout.html.twig" %} 

{% block title %} Utilisateurs {% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-column align-items-start">

    <div class="d-flex align-items-center justify-content-between w-100">
        <h1 class="mt-4 mb-4">Utilisateurs</h1>
        {% include 'pagination.html.twig' with {'tableName' : 'users'} %}
    </div>

    <div class="card mb-4 w-100">
        <div class="card-header d-flex align-items-center">
            <i class="fas fa-table mr-2"></i>
            Liste d'utilisateurs
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table m-0" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Date d'inscription</th>
                            <th scope="col">Points</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{  user.registerAt|date("m/d/Y") }}</td>
                            <td>{{ user.points }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="mb-4 ml-auto">
        {% include 'pagination.html.twig' with {'tableName': 'users'} %}
    </div>
</div>
{% endblock %}
