{% extends "layout.html.twig" %} 

{% block title %} Quizzs {% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-column align-items-start">

    <div class="d-flex align-items-center justify-content-between w-100">
        <h1 class="mt-4 mb-4">Quizzs</h1>
        {% include 'pagination.html.twig' with {'tableName' : 'quizzs'} %}
    </div>

    <div class="card mb-4 w-100">
        <div class="card-header d-flex align-items-center">
            <i class="fas fa-table mr-2"></i>
            Liste de quizzs
            <button type="button" class="btn btn-info ml-auto" data-toggle="modal" data-target="#filterModal">Filtrer</button>
            <a type="button" class="btn btn-danger ml-3" href="/quizzs"><i class="fas fa-times" aria-hidden="true"></i></a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table m-0" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mode</th>
                            <th scope="col">Utilisateur 1</th>
                            <th scope="col">Utilisateur 2</th>
                            <th scope="col">Date de début</th>
                            <th scope="col">Gagnant</th>
                            <th scope="col">Questions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for quizz in quizzs %}
                        <tr>
                            <th scope="row">{{ quizz.id }}</th>
                            <td>{{ quizz.mode }}</td>
                            <td>{{ quizz.user1.firstName ~ ' '  ~ quizz.user1.lastName ~ ', ' ~ quizz.user1.email }}</td>

                            {% if quizz.user2 != null %}
                                <td>{{ quizz.user2.firstName ~ ' '  ~ quizz.user2.lastName ~ ', ' ~ quizz.user2.email }}</td>
                            {% else %}
                                <td>Pas de deuxième joueur</td>
                            {% endif %}

                            <td>{{ quizz.startAt|date("d/m/Y")}}</td>

                            {% if quizz.winner != null %}
                                <td>{{ quizz.winner.firstName ~ ' '  ~ quizz.winner.lastName ~ ', ' ~ quizz.winner.email }}</td>
                            {% elseif quizz.mode == 1 %}
                                <td>Pas de gagnant</td>
                            {% else %}
                                <td>Egalité</td>
                            {% endif %}

                            <td>
                            {% for i in 0..3 %}
                                {% if quizz.question[0][i].id_question is defined %} 
                                    <a href="/question/{{ quizz.question[0][i].id_question }}">{{ quizz.question[0][i].id_question }}</a>
                                {% else %}
                                    <span>X</span>
                                {% endif %}

                                {% if i != 3 %} <span>,</span> {% endif %}
                            {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="mb-4 ml-auto">
        {% include 'pagination.html.twig' with {'tableName': 'quizzs'} %}
    </div>
    {% include 'modals/filter.html.twig' %}
</div>
{% endblock %}

{% block js %}
    <script src="/assets/js/filterQuizzs.js"></script>
{% endblock %}
